<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noted - Header</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div id="header-left">
            <img (click)="goToHome()" ngSrc="/Logo mit Name ohne Hintergrund.png" height="80" alt="Logo" width="76">
        </div>
        <div id="header-middle">
            <h1 (click)="goToHome()" class="text-xl md:text-2xl font-bold">Noted</h1>
        </div>
        <div class="header-right" *ngIf="loggedIn">
            <button class="button" id="menu-button" mat-mini-fab [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
            <mat-menu #menu="matMenu" class="matMenu">
            <button mat-menu-item (click)="goToProfile()">Profil</button>
            <button mat-menu-item (click)="logout()">Abmelden</button>
            </mat-menu>
        </div>
        <div class="header-right" *ngIf="!loggedIn">
            <button class="button" id="menu-button" mat-mini-fab [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
            <mat-menu #menu="matMenu" class="matMenu">
            <button mat-menu-item (click)="goToLogin()">Anmelden</button>
            <button mat-menu-item (click)="goToRegister()">Registrieren</button>
            </mat-menu>
        </div>
    </header>
</body>
</html>
