.example-container mat-form-field + mat-form-field {
    margin-left: 8px;
}
  
.example-right-align {
    text-align: right;
}
  
input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}
  
.password-requirements {
    list-style: none;
    padding: 0;
    margin: 8px 0;
    font-size: 14px;
}

.password-requirements li {
    display: flex;
    align-items: center;
    color: red; 
}

.password-requirements li.valid {
    color: green; 
}

.password-requirements mat-icon {
    font-size: 16px;
    margin-right: 8px;
}