.example-container mat-form-field + mat-form-field {
    margin-left: 8px;
}
  
.example-right-align {
    text-align: right;
}
  
input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}
  
.password-requirements {
    list-style: none;
    padding: 0;
    margin: 8px 0;
    font-size: 14px;
}

.password-requirements li {
    display: flex;
    align-items: center;
    color: red; 
}

.password-requirements li.valid {
    color: green; 
}

.password-requirements mat-icon {
    font-size: 16px;
    margin-right: 8px;
}

:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  

mat-card {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border-radius: 12px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
    background: white;
    text-align: center;
}
  

mat-card-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}