.dialog {
  background-color: var(--color-bg-second);
  border: 2px solid var(--color-border);
}
.dialog-title {
  color: var(--color-text);
}
.dialog-content {
  color: var(--color-contrast);
}
.dialog-button {
  color: var(--color-text);
  border: 2px solid var(--color-border);
}

@media (prefers-color-scheme: dark) {
  .dialog {
    background-color: var(--color-bg);
    border: 2px solid var(--color-border);
  }
  .dialog-title {
    color: var(--color-text);
  }
  .dialog-content {
    color: var(--color-contrast);
  }
  .dialog-button {
    color: var(--color-text);
    border: 2px solid var(--color-border);
  }
}
