<div *ngIf="normalForm" class="profile-container">
  <div class = "profile-header">
    <h1 class="profile-name">
      <span *ngIf="sameUser">{{ user?.nickname }}</span>
    </h1>
    <img *ngIf="selectedImage" [src]="selectedImage" alt="Profilbild" class="profile-image" />
    <img *ngIf="!selectedImage" src="https://static.vecteezy.com/system/resources/previews/020/765/399/large_2x/default-profile-account-unknown-icon-black-silhouette-free-vector.jpg" alt="Profilbild" class="profile-image"  />
  </div>
  <div class="profile-details">
    <p><strong>Benutzername:</strong> <span class="profile-detail"> {{ user?.username }}</span> </p>
    <p><strong>E-Mail:</strong> <span class="profile-detail"> {{ user?.email }}</span> </p>
    <p><strong>User seit:</strong> <span class="profile-detail"> {{ user?.createdAt }}</span> </p>
  </div>
  <button *ngIf="sameUser" class="edit-profile" (click)="changeData()">Profil bearbeiten</button>
</div>

<div *ngIf="editForm" class="profile-container" id="editForm">
  <div class = "profile-header">
    <h1 class="profile-name">
      <form [formGroup]="firstFormGroup">
        <input type="text" class="input-field-title" formControlName="firstCtrl" />
      </form>
    </h1>
    <form [formGroup]="imageFormGroup">
      <p><strong>Profilbild:</strong></p>
      <input type="file" accept="image/*" formControlName="imageCtrl" (change)="onImageSelected($event)" />
    </form>
  </div>
  <div class="profile-details">
    <form [formGroup]="secondFormGroup">
      <p>
        <strong>Benutzername:</strong>
        <input type="text" class="input-field" formControlName="secondCtrl"/>
      </p>
    </form>
    <form [formGroup]="fourthFormGroup">
      <p>
        <strong>E-Mail:</strong> 
        <input type="text" class="input-field" formControlName="fourthCtrl"/>
      </p>
    </form>
    <p><strong>User seit:</strong> <span class="profile-username"> {{ user?.createdAt }}</span> </p>
  </div>
  <div class="edit-actions">
    <button class="save-button" (click)="saveChanges()">Speichern</button>
    <button class="cancel-button" (click)="discardChanges()">Abbrechen</button>
  </div>
</div>