.profile-container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background: var(--color-bg);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 2px solid var(--color-border);
  }
  
  .profile-header {
    padding: 20px;
  }
  
  .profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;  /* Damit das Bild das Bildverhältnis behält */
    margin-bottom: 10px;
  }
  
  .profile-name {
    font-size: 22px;
    margin: 10px 0;
  }

  .profile-name form{
    display: flex;
    justify-content: center;
  }

  .profile-details {
    text-align: left;
    margin-top: 20px;
    padding: 10px;
    background: var(--color-bg);
    border-radius: 8px;
  }
  
  .profile-details p {
    margin: 8px 0;
    font-size: 16px;
  }

  .profile-container form {
    display: flex;
    flex-direction: column;
  }
  
  .profile-container input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid var(--color-border);
    border-radius: 5px;
  }
  
  .profile-container button {
    margin-top: 15px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  
  .cancel-button {
    margin-left: 5px;
    background-color: var(--color-greyblue);
  }

  .cancel-button:hover {
    background-color: var(--color-primary);
  }

  .input-field-title{
    width: 60%;
    margin: 0 auto;
    box-sizing: border-box;
    font-size: 20px;
  }