<div id="custom-toolbar" class="flex flex-wrap gap-2 p-2 bg-gray-100 rounded-xl shadow-sm">
  <button class="ql-bold" mat-icon-button matTooltip="Fett">
    <mat-icon>format_bold</mat-icon>
  </button>

  <button class="ql-italic" mat-icon-button matTooltip="Kursiv">
    <mat-icon>format_italic</mat-icon>
  </button>

  <button class="ql-underline" mat-icon-button matTooltip="Unterstrichen">
    <mat-icon>format_underlined</mat-icon>
  </button>

  <button class="ql-strike" mat-icon-button matTooltip="Durchgestrichen">
    <mat-icon>strikethrough_s</mat-icon>
  </button>

  <button class="ql-list" value="ordered" mat-icon-button matTooltip="Nummerierte Liste">
    <mat-icon>format_list_numbered</mat-icon>
  </button>

  <button class="ql-list" value="bullet" mat-icon-button matTooltip="Punkte-Liste">
    <mat-icon>format_list_bulleted</mat-icon>
  </button>

  <button class="ql-align" value="" mat-icon-button matTooltip="Linksbündig">
    <mat-icon>format_align_left</mat-icon>
  </button>

  <button class="ql-align" value="center" mat-icon-button matTooltip="Zentriert">
    <mat-icon>format_align_center</mat-icon>
  </button>

  <button class="ql-align" value="right" mat-icon-button matTooltip="Rechtsbündig">
    <mat-icon>format_align_right</mat-icon>
  </button>

  <button class="ql-clean" mat-icon-button matTooltip="Formatierung entfernen">
    <mat-icon>format_clear</mat-icon>
  </button>
</div>


<quill-editor
  [(ngModel)]="content"
  [modules]="modules"
  [style]="{ height: '300px', width: '100%'}"
  (onBlur)="onEditorBlur()"
></quill-editor>
