/*.ql-font-arial {
  font-family: Arial, sans-serif;
}

.ql-font-roboto {
  font-family: 'Roboto', sans-serif;
}

.ql-font-times-new-roman {
  font-family: 'Times New Roman', serif;
}

.ql-font-courier-new {
  font-family: 'Courier New', monospace;
}

.ql-font-comic-sans {
  font-family: 'Comic Sans MS', cursive;
}
*/
#custom-toolbar{
  background-color: white !important;
}
