.form{
  background-color: var(--color-bg);
  color: var(--color-text);
  padding: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

mat-hint{
  color: var(--color-text);
}

input[matInput] {
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
}

h1[mat-dialog-title]{
  color: var(--color-text);
  margin-left: 8px;
  margin-top: 5px; 
}
.mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 8px;
}

.mat-form-field-appearance-fill .mat-form-field-underline {
  background-color: var(--color-secondary);
}

.mat-form-field-appearance-fill .mat-form-field-ripple {
  background-color: var(--color-primary);
}

.save-button {
  color: var(--color-bg) !important;
  background: var(--color-primary);
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  transition: background 0.3s ease;
}

.save-button:hover {
  background: var(--color-secondary);
}

.cancel-button {
  color: var(--color-bg);
  background: var(--color-greyblue);
  border-radius: 8px;
  padding: 10px 20px;
  margin-left: 20px;
  font-size: 16px;
  transition: background 0.3s ease;
}

.cancel-button:hover {
  background: var(--color-primary);
}

.animated-dialog {
  animation: none !important;
}

.cdk-overlay-backdrop.animated-backdrop {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.cdk-overlay-backdrop.animated-backdrop.cdk-overlay-backdrop-showing {
  opacity: 1;
}

::ng-deep .mat-mdc-dialog-surface{
  background-color: var(--color-bg);
}