<div class="create-note-container">
  <button
    mat-raised-button
    class="create-note-button"
    (click)="createNewNote()"
  >
    Create New Note (+)
  </button>
</div>

<div class="show-notes">
  <div
    *ngFor="let note of notes"
    class="note-card"
    [routerLink]="['/notes', note.id]"
  >
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      type="button"
      (click)="preventLoading($event)"
      aria-label="Icon-button with a menu to edit and delete notes"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="mat-menu-background">
      <button mat-menu-item (click)="deleteNote(note.id)">
        <mat-icon class="mat-menu">delete_outline</mat-icon>
        <span class="mat-menu">Delete</span>
      </button>
      <a
        mat-menu-item
        [routerLink]="['/notes', note.id]"
        aria-label="Edit note"
      >
        <mat-icon class="mat-menu">edit</mat-icon>
        <span class="mat-menu">Edit</span>
      </a>
    </mat-menu>
    <h3 class="note-title">{{ note.name }}</h3>
    <p class="note-content">{{ note.content }}</p>

    <div class="note-tags" *ngIf="note.tags && note.tags.length > 0">
      <div class="tags-container">
        <span *ngFor="let tag of note.tags" class="tag-chip">
          {{ tag.name }}
        </span>
      </div>
    </div>

    <div class="note-footer">
      <span class="note-author">
        <a [routerLink]="['/profile', note.author]" class="no-underline"
          >By: {{ note.authorName }}</a
        >
      </span>
      <span class="note-date">{{ note.createdAt | date : "medium" }}</span>
    </div>
  </div>
</div>
