.show-notes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  padding: 16px;
}

.note-card {
  background: var(--color-bg);
  border-radius: 10px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  border: 2px solid var(--color-border);
  min-height: 200px;
}

.note-card:hover {
  transform: scale(1.03);
}

.note-title {
  font-size: 1rem;
  color: var(--color-text);
  margin-bottom: 12px;
}

.note-footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  color: var(--color-text);
  border-top: 0.5px solid var(--color-border);
  padding-top: 8px;
}

.no-underline {
  text-decoration: none;
  color: var(--color-text);
}
.no-underline:hover {
  color: var(--color-contrast);
}

.note-tags {
  margin: 8px 0;
  min-height: 24px;
}

.tag-chip {
  background: var(--color-bg);
  border-radius: 16px;
  padding: 4px 12px;
  font-size: 12px;
  color: var(--color-text);
  display: inline-block;
  margin: 2px;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}


.clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.create-note-container {
  display: flex;
  justify-content: flex-end;
  align-self: start;
}

button[mat-raised-button] {
  margin-right: 20px;
  color: var(--color-bg);
  background: var(--color-primary);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  height: 56px;
  min-width: 150px;
}

.filter-create-container {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}

.filter-field {
  min-width: 150px;
  max-width: 350px;
  padding-left: 20px;
}

.filter-tag-label {
  color: black;
}

.filter-tag-label::placeholder {
  color: black !important;
}

@media (prefers-color-scheme: dark) {
  .mat-menu {
    color: white;
  }

  ::ng-deep .mat-menu-background {
    background-color: black;
    border: 2px solid #636363;
  }
}

::ng-deep
  .filter-field.mat-mdc-form-field:hover
  .mat-mdc-form-field-focus-overlay,
::ng-deep
  .filter-field.mat-mdc-form-field.mat-focused
  .mat-mdc-form-field-focus-overlay,
::ng-deep .filter-field.mat-mdc-form-field .mat-mdc-form-field-focus-overlay {
  background-color: var(--color-primary) !important;
  opacity: 1 !important;
}

/* ::ng-deep .mat-mdc-option {
  background-color: purple !important;
}

::ng-deep .mdc-list-item {
  background-color: pink !important;
}

::ng-deep .mat-mdc-focus-indicator {
  background-color: blue !important;
} 
