<div id="tags">
  <div id="add-tags">
    <mat-expansion-panel
      hideToggle
      #expansionPanel
      (opened)="panelOpenState.set(true)"
      (closed)="panelOpenState.set(false)"
    >
      <mat-expansion-panel-header #expansionPanelHeader>
        <mat-panel-title> <mat-icon>add</mat-icon> </mat-panel-title>
        <mat-panel-description>
          {{ panelOpenState() ? "" : "add tags" }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form
        class="example-form"
        (click)="addNewTag()"
        (submit)="$event.preventDefault()"
      >
        <mat-form-field class="example-full-width">
          <mat-label>Tag</mat-label>
          <input
            class = "input"
            type="text"
            placeholder="Pick one or create new"
            aria-label="Tag"
            matInput
            [formControl]="myControl"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete
            autoActiveFirstOption
            #auto="matAutocomplete"
            (optionSelected)="onTagSelected($event)"
            [displayWith]="displayFn"
          >
            @for (option of filteredOptions | async; track
            trackOptionById($index, option)) {
            <mat-option [value]="option">{{ option.name }}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
        <button
          mat-button
          (click)="addNewTag(myControl.value)"
          [disabled]="!myControl.value?.trim()"
        >
          <mat-icon>add_circle</mat-icon>
        </button>
      </form>
    </mat-expansion-panel>
  </div>
  <div id="tags-note">
    <mat-chip-listbox>
      @for (tag of tags; track trackTagById($index, tag)) {
      <mat-chip (removed)="removeTag(tag.id)">
        {{ tag.name }}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      }
    </mat-chip-listbox>
  </div>
</div>
