<div class="show-notes" *ngIf="note">
  <div class="note-card">
    
    <app-tag-input
      [initialTags]="note.tags || []"
      [allAvailableTags]="allTags"
      (tagAdded)="onTagAdded($event)"
      (tagRemoved)="onTagRemoved($event)"
    ></app-tag-input>
    <div class="note-toolbar">
      <button mat-icon-button (click)="requestOfSummary()">
        <mat-icon>auto_awesome</mat-icon>
      </button>
    </div>
    <p
      *ngIf="!isEditingHeader"
      (click)="startEditingHeader()"
      class="note-title"
    >
      {{ note.name }}
    </p>
    <input
      #noteInputHeader
      *ngIf="isEditingHeader"
      type="text"
      [(ngModel)]="note.name"
      (blur)="stopEditingHeader()"
      class="note-title"
    />

    <p *ngIf="!isEditing" (click)="startEditing()" class="note-content">
      {{ note.content }}
    </p>
    <input
      #noteInput
      *ngIf="isEditing"
      type="text"
      [(ngModel)]="note.content"
      (blur)="isEditing = false"
      (blur)="stopEditing()"
      class="note-content"
    />

    <div class="note-footer">
      <span class="note-author">
        <a [routerLink]="['/profile', note.id]" class="no-underline"
          >By: {{ note.authorName }}</a
        >
      </span>
      <span class="note-date">{{ note.createdAt | date : "medium" }}</span>
    </div>
  </div>
</div>
