@import "@angular/material/prebuilt-themes/indigo-pink.css";

/*.button {
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    cursor: pointer;
} */

:root {
  /* Light Mode Farben */
  --color-bg: #ffffff;
  --color-bg-second: rgb(228, 228, 228);
  --color-text: #333333;
  --color-contrast: #6e6e6e;
  --color-primary: #2e3d61;
  --color-secondary: #52638a;
  --color-border: #aca9a9;
  --color-button-bg: #007bff;
  --color-greyblue: #7f889c;
  --color-button-text: #ffffff;
  --color-logo: white;
  --color-shadow:  0 0 0 1px rgba(0, 0, 0, 0.05),       /* feine Umrandung */
  0 10px 30px rgba(0, 0, 0, 0.2),      /* starker unterer Schatten */
  0 0 20px rgba(0, 0, 0, 0.15);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark Mode Farben */
    --color-bg: #121212;
    --color-bg-second: rgb(53, 53, 53);
    --color-text: #f0f0f0;
    --color-contrast: hsl(0, 0%, 68%);
    --color-primary: #68a6b1;
    --color-secondary: #3d7e8b;
    --color-border: #636363;
    --color-button-bg: #1e90ff;
    --color-button-text: #ffffff;
    --color-greyblue: #90a4a8;
    --color-logo: none;
    --color-shadow:  0 0 0 1px rgba(255, 255, 255, 0.1),       /* feiner heller Rand */
    0 0 20px rgba(255, 255, 255, 0.08),       /* weicher Glow */
    0 0 60px rgba(173, 216, 230, 0.1);  
  }
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

button {
  background-color: var(--color-primary);
  color: var(--color-bg);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--color-secondary);
}

.mat-menu-panel {

  background-color: var(--color-bg) !important;
  padding: 8px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

